# flyctl launch added from .gitignore
**/backups
**/*.sh
**/erver.js
**/.env

**/.env

# flyctl launch added from tsm-shell/.gitignore
tsm-shell/**/backups
tsm-shell/**/*.sh
tsm-shell/**/erver.js
tsm-shell/**/.env

tsm-shell/**/.env
fly.toml
